name: Check Ruff Formatting

on:
  pull_request:
    branches:
      - "**"

jobs:
  ruff-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install Ruff
        run: pip install ruff

      - name: Check formatting with Ruff
        run: ruff format . --check